// Manoj kumar S

// Common CSS Variables 
$bgcolor: #ffffff;
$textcolor: #101030;
$height:100%;
$fontfamilyopen:'OpenSans-Light';
$fontfamilyplay:'PlayfairDisplay-Regular';
$fontsize: 15px;
$fontweight: 500;
$nomargin:0;
$nopadding:0;
$p-left:0;
$p-right:0;
$m-left:0;
$m-right:0;
html,
body {
    background-color: $bgcolor;
    height: $height;
    color: $textcolor;
    font-family: $fontfamilyopen;
    font-size: $fontsize;
    font-weight: $fontweight;
    margin: $nomargin;
    padding: $nopadding;
}

@mixin img-bg($imgpath,
$position:0 0,
$repeat: no-repeat) {
    background: {
        image: url($imgpath);
        position: $position;
        repeat: $repeat;
    }
}

@mixin clear {
    float: left;
    width: 100%;
}

@mixin b {
    font-family: 'OpenSans-Bold';
    color: #000000;
}

@mixin h2 {
    font-family: $fontfamilyplay;
    color: #222222;
}

@mixin imgwidth {
    max-width: 100%;
    width: 100%;
}

@mixin text-center {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
}


/*----------header-------------*/

header {
    padding: 10px;
    .cart-section span {
        border-radius: 100%;
        padding: 3px 8px;
        margin-left: 10px;
        background: #222222;
        color: #fff;
        cursor: pointer;
    }
}

.custom-nav {
    background-color: $bgcolor;
    ul {
        @include text-center;
    }
    li {
        font-size: $fontsize;
    }
    a {
        color: $textcolor !important;
        padding: $nopadding;
        margin-right: 10px;
        margin-left: 10px;
        padding-left: $p-left !important;
        padding-right: $p-right !important;
        &:hover {
            border-bottom: 1px solid $textcolor;
            padding: $nopadding;
        }
    }
    .active {
        a {
            border-bottom: 1px solid $textcolor;
            padding: $nopadding;
        }
    }
}
.npl{
    padding-right: $p-right;
}


/*----------section-1-------------*/

section {
    padding: 15px;
    .img-block {
        @include text-center;
        padding: 50px 40px 30px;
        background: #eee;
        img {
            @include imgwidth;
        }
    }
    .form-block {
        padding: 30px;
        h2 {
            @include h2;
            font-size: 30px;
            margin-bottom: 20px;
        }
        p {
            b {
                @include b;
                padding-right: 15px;
            }
        }
        div {
            overflow: hidden;
            text-overflow: ellipsis;
            width: 50%;
        }
        .dropbox {
            padding: 0px 0px 20px;
            width: 100%;
            select {
                -webkit-appearance: none;
                -moz-appearance: none;
                -ms-appearance: none;
                appearance: none;
                outline: 0;
                box-shadow: none;
                border: 1px solid #cccccc;
            }
            select::-ms-expand {
                display: none;
            }
            .select {
                position: relative;
                display: flex;
                width: 20em;
                height: 4em;
                overflow: hidden;
                border-radius: 1px;
                float: left;
            }
            select {
                flex: 1;
                padding: 0 20px;
                color: #333;
                cursor: pointer;
            }
            .select::after {
                content: url(../images/arrowdown.png);
                position: absolute;
                top: 17px;
                right: 0;
                padding: 0 1em;
                cursor: pointer;
                pointer-events: none;
            }
        }
        form {
            @include clear;
            a {
                font-family: 'OpenSans-Regular';
                text-decoration: underline !important;
                color: #222222 !important;
                margin: 25px 0px 25px;
                float: left;
            }
            .form-group {
                @include clear;
                margin-bottom: 10px;
                label {
                    @include b;
                    font-size: 13px;
                }
                div label {
                    font-family: $fontfamilyopen;
                }
                [type="radio"]:checked,
                [type="radio"]:not(:checked) {
                    position: absolute;
                    left: -9999px;
                }
                [type="radio"]:checked+label,
                [type="radio"]:not(:checked)+label {
                    position: relative;
                    padding-left: 40px;
                    padding-right: 40px;
                    cursor: pointer;
                    line-height: 20px;
                    display: inline-block;
                }
                [type="radio"]:checked+label:before,
                [type="radio"]:not(:checked)+label:before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 25px;
                    height: 25px;
                    border: 1px solid #ddd;
                    border-radius: 100%;
                    background: #fff;
                }
                [type="radio"]:checked+label:after,
                [type="radio"]:not(:checked)+label:after {
                    content: '';
                    width: 14px;
                    height: 14px;
                    background: #000;
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    border-radius: 100%;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }
                [type="radio"]:not(:checked)+label:after {
                    opacity: 0;
                    -webkit-transform: scale(0);
                    transform: scale(0);
                }
                [type="radio"]:checked+label:after {
                    opacity: 1;
                    -webkit-transform: scale(1);
                    transform: scale(1);
                }
            }
            button {
                background-color: #222222;
                color: #ffffff;
                border: 0px;
                padding: 15px 15px;
                min-width: 300px;
                border-radius: 0px;
                float: left;
                margin: 15px 0px;
            }
        }
    }
}



/*----------section-2-------------*/

.banner-content-left {
    margin-bottom: 60px;
    h2 {
        @include h2;
        font-size: 30px;
    }
    p {
        padding: 20px 150px 0px 0px;
    }
    img {
        @include imgwidth;
    }
}


/*----------section-2-------------*/


/*----------section-3-------------*/

.banner-content-right {
    margin-bottom: 60px;
    h2 {
        @include h2;
        font-size: 30px;
        padding: 20px 0px 0px 100px;
    }
    p {
        padding: 20px 0px 0px 100px;
    }
    img {
        @include imgwidth;
    }
}


/*----------section-3-------------*/


/*----------section-4-------------*/

.banner {
    h2 {
        @include h2;
        font-size: 30px;
    }
    img {
        @include imgwidth;
    }
}


/*----------section-4-------------*/


/*----------section-5-------------*/

.tile-block {
    h2 {
        @include h2;
        @include text-center;
        font-size: 40px;
        margin-bottom: 30px;
    }
    .tile {
        @include text-center;
        padding-bottom: 50px;
        .tile-img {
            background: #f5f5f5;
            padding: 20px 15px 0px 15px;
        }
        .tile-body {
            h2 {
                @include h2;
                font-size: 20px;
                margin: 15px 0px;
            }
            p {
                margin-bottom: 0px;
            }
        }
    }
}


/*----------section--5------------*/


/*----------section--6------------*/

footer {
    .col {
        @include text-center;
    }
    .footer-content {
        border-top: 1px solid #dddddd;
        padding: 70px 0px 0px;
        width: 80%;
        .row {
            padding-bottom: 70px;
        }
        h2 {
            @include h2;
            font-size: 20px;
            margin: 15px 0px;
        }
        b {
            @include b;
            cursor: pointer;
        }
        ul {
            padding-left: 0px;
            li {
                list-style: none;
                display: inline-block;
                padding: 10px 12px;
            }
        }
        p {
            padding: 0;
            margin: 0;
        }
        .mailbox {
            position: relative;
            width: 95%;
            margin: 10px auto;
            input {
                border: 0px;
                border-bottom: 1px solid #dddddd;
                width: 100%;
                appearance: none;
                outline: 0;
                box-shadow: none;
                padding-bottom: 7px;
            }
             ::-webkit-input-placeholder {
                font-size: 10px;
            }
             :-ms-input-placeholder {
                font-size: 10px;
            }
             ::placeholder {
                font-size: 10px;
            }
            img {
                position: absolute;
                right: 0px;
                cursor: pointer;
                top: 3px;
            }
        }
    }
    .footer-sub {
        @include clear;
        font-family: 'Myriad Pro Regular';
        color: #999999;
        font-size: 11px;
        padding: 30px 0px;
        border-top: 1px solid #dddddd;
    }
}


/*----------section--6------------*/

@media (max-width:768px) {
    .custom-nav {
        .active {
            a {
                border-bottom: 0px;
                padding: 0px;
            }
        }
        .navbar-toggler {
            border-color: #40799a;
            &:focus {
                outline: none;
            }
        }
        .navbar-collapse {
            padding: 15px 10px;
            background: #eee;
            margin-top: 10px;
        }
        ul {
            justify-content: flex-start;
            align-items: flex-start;
            li {
                padding-bottom: 15px;
            }
        }
        a {
            margin-left: 0px;
        }
    }
    section {
        .form-block {
            padding: 20px 0px;
            div {
                overflow: hidden;
                text-overflow: ellipsis;
                width: 100%;
            }
        }
        .img-block {
            padding: 20px 20px 15px;
        }
    }
    .banner-content-left {
        margin-bottom: 20px;
        p {
            padding: 0px 0px 0px 0px;
        }
    }
    .banner-content-right {
        margin-bottom: 30px;
        .order-1 {
            -ms-flex-order: 2 !important;
            order: 2 !important;
        }
        .order-2 {
            -ms-flex-order: 1 !important;
            order: 1 !important;
        }
        h2 {
            padding: 20px 0px 0px 10px;
        }
        p {
            padding: 0px 0px 0px 10px;
        }
    }
    .tile-block .tile {
        padding-bottom: 10px;
        .tile-body {
            margin-bottom: 30px;
        }
    }
    footer {
        .footer-content {
            padding: 40px 0px 0px;
            width: 100%;
            h2 {
                margin-bottom: 0px;
            }
            .mailbox{
                width: 70%;
                margin-top: 20px;
            }
        }
    }
}