html,
body {
  background-color: #ffffff;
  height: 100%;
  color: #101030;
  font-family: "OpenSans-Light";
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  padding: 0; }

/*----------header-------------*/
header {
  padding: 10px; }
  header .cart-section span {
    border-radius: 100%;
    padding: 3px 8px;
    margin-left: 10px;
    background: #222222;
    color: #fff;
    cursor: pointer; }

.custom-nav {
  background-color: #ffffff; }
  .custom-nav ul {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto; }
  .custom-nav li {
    font-size: 15px; }
  .custom-nav a {
    color: #101030 !important;
    padding: 0;
    margin-right: 10px;
    margin-left: 10px;
    padding-left: 0 !important;
    padding-right: 0 !important; }
    .custom-nav a:hover {
      border-bottom: 1px solid #101030;
      padding: 0; }
  .custom-nav .active a {
    border-bottom: 1px solid #101030;
    padding: 0; }

.npl {
  padding-right: 0; }

/*----------section-1-------------*/
section {
  padding: 15px; }
  section .img-block {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    padding: 50px 40px 30px;
    background: #eee; }
    section .img-block img {
      max-width: 100%;
      width: 100%; }
  section .form-block {
    padding: 30px; }
    section .form-block h2 {
      font-family: "PlayfairDisplay-Regular";
      color: #222222;
      font-size: 30px;
      margin-bottom: 20px; }
    section .form-block p b {
      font-family: 'OpenSans-Bold';
      color: #000000;
      padding-right: 15px; }
    section .form-block div {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 50%; }
    section .form-block .dropbox {
      padding: 0px 0px 20px;
      width: 100%; }
      section .form-block .dropbox select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        outline: 0;
        box-shadow: none;
        border: 1px solid #cccccc; }
      section .form-block .dropbox select::-ms-expand {
        display: none; }
      section .form-block .dropbox .select {
        position: relative;
        display: flex;
        width: 20em;
        height: 4em;
        overflow: hidden;
        border-radius: 1px;
        float: left; }
      section .form-block .dropbox select {
        flex: 1;
        padding: 0 20px;
        color: #333;
        cursor: pointer; }
      section .form-block .dropbox .select::after {
        content: url(../images/arrowdown.png);
        position: absolute;
        top: 17px;
        right: 0;
        padding: 0 1em;
        cursor: pointer;
        pointer-events: none; }
    section .form-block form {
      float: left;
      width: 100%; }
      section .form-block form a {
        font-family: 'OpenSans-Regular';
        text-decoration: underline !important;
        color: #222222 !important;
        margin: 25px 0px 25px;
        float: left; }
      section .form-block form .form-group {
        float: left;
        width: 100%;
        margin-bottom: 10px; }
        section .form-block form .form-group label {
          font-family: 'OpenSans-Bold';
          color: #000000;
          font-size: 13px; }
        section .form-block form .form-group div label {
          font-family: "OpenSans-Light"; }
        section .form-block form .form-group [type="radio"]:checked,
        section .form-block form .form-group [type="radio"]:not(:checked) {
          position: absolute;
          left: -9999px; }
        section .form-block form .form-group [type="radio"]:checked + label,
        section .form-block form .form-group [type="radio"]:not(:checked) + label {
          position: relative;
          padding-left: 40px;
          padding-right: 40px;
          cursor: pointer;
          line-height: 20px;
          display: inline-block; }
        section .form-block form .form-group [type="radio"]:checked + label:before,
        section .form-block form .form-group [type="radio"]:not(:checked) + label:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 25px;
          height: 25px;
          border: 1px solid #ddd;
          border-radius: 100%;
          background: #fff; }
        section .form-block form .form-group [type="radio"]:checked + label:after,
        section .form-block form .form-group [type="radio"]:not(:checked) + label:after {
          content: '';
          width: 14px;
          height: 14px;
          background: #000;
          position: absolute;
          top: 5px;
          left: 5px;
          border-radius: 100%;
          -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease; }
        section .form-block form .form-group [type="radio"]:not(:checked) + label:after {
          opacity: 0;
          -webkit-transform: scale(0);
          transform: scale(0); }
        section .form-block form .form-group [type="radio"]:checked + label:after {
          opacity: 1;
          -webkit-transform: scale(1);
          transform: scale(1); }
      section .form-block form button {
        background-color: #222222;
        color: #ffffff;
        border: 0px;
        padding: 15px 15px;
        min-width: 300px;
        border-radius: 0px;
        float: left;
        margin: 15px 0px; }

/*----------section-2-------------*/
.banner-content-left {
  margin-bottom: 60px; }
  .banner-content-left h2 {
    font-family: "PlayfairDisplay-Regular";
    color: #222222;
    font-size: 30px; }
  .banner-content-left p {
    padding: 20px 150px 0px 0px; }
  .banner-content-left img {
    max-width: 100%;
    width: 100%; }

/*----------section-2-------------*/
/*----------section-3-------------*/
.banner-content-right {
  margin-bottom: 60px; }
  .banner-content-right h2 {
    font-family: "PlayfairDisplay-Regular";
    color: #222222;
    font-size: 30px;
    padding: 20px 0px 0px 100px; }
  .banner-content-right p {
    padding: 20px 0px 0px 100px; }
  .banner-content-right img {
    max-width: 100%;
    width: 100%; }

/*----------section-3-------------*/
/*----------section-4-------------*/
.banner h2 {
  font-family: "PlayfairDisplay-Regular";
  color: #222222;
  font-size: 30px; }
.banner img {
  max-width: 100%;
  width: 100%; }

/*----------section-4-------------*/
/*----------section-5-------------*/
.tile-block h2 {
  font-family: "PlayfairDisplay-Regular";
  color: #222222;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  font-size: 40px;
  margin-bottom: 30px; }
.tile-block .tile {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto;
  padding-bottom: 50px; }
  .tile-block .tile .tile-img {
    background: #f5f5f5;
    padding: 20px 15px 0px 15px; }
  .tile-block .tile .tile-body h2 {
    font-family: "PlayfairDisplay-Regular";
    color: #222222;
    font-size: 20px;
    margin: 15px 0px; }
  .tile-block .tile .tile-body p {
    margin-bottom: 0px; }

/*----------section--5------------*/
/*----------section--6------------*/
footer .col {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px auto; }
footer .footer-content {
  border-top: 1px solid #dddddd;
  padding: 70px 0px 0px;
  width: 80%; }
  footer .footer-content .row {
    padding-bottom: 70px; }
  footer .footer-content h2 {
    font-family: "PlayfairDisplay-Regular";
    color: #222222;
    font-size: 20px;
    margin: 15px 0px; }
  footer .footer-content b {
    font-family: 'OpenSans-Bold';
    color: #000000;
    cursor: pointer; }
  footer .footer-content ul {
    padding-left: 0px; }
    footer .footer-content ul li {
      list-style: none;
      display: inline-block;
      padding: 10px 12px; }
  footer .footer-content p {
    padding: 0;
    margin: 0; }
  footer .footer-content .mailbox {
    position: relative;
    width: 95%;
    margin: 10px auto; }
    footer .footer-content .mailbox input {
      border: 0px;
      border-bottom: 1px solid #dddddd;
      width: 100%;
      appearance: none;
      outline: 0;
      box-shadow: none;
      padding-bottom: 7px; }
    footer .footer-content .mailbox ::-webkit-input-placeholder {
      font-size: 10px; }
    footer .footer-content .mailbox :-ms-input-placeholder {
      font-size: 10px; }
    footer .footer-content .mailbox ::placeholder {
      font-size: 10px; }
    footer .footer-content .mailbox img {
      position: absolute;
      right: 0px;
      cursor: pointer;
      top: 3px; }
footer .footer-sub {
  float: left;
  width: 100%;
  font-family: 'Myriad Pro Regular';
  color: #999999;
  font-size: 11px;
  padding: 30px 0px;
  border-top: 1px solid #dddddd; }

/*----------section--6------------*/
@media (max-width: 768px) {
  .custom-nav .active a {
    border-bottom: 0px;
    padding: 0px; }
  .custom-nav .navbar-toggler {
    border-color: #40799a; }
    .custom-nav .navbar-toggler:focus {
      outline: none; }
  .custom-nav .navbar-collapse {
    padding: 15px 10px;
    background: #eee;
    margin-top: 10px; }
  .custom-nav ul {
    justify-content: flex-start;
    align-items: flex-start; }
    .custom-nav ul li {
      padding-bottom: 15px; }
  .custom-nav a {
    margin-left: 0px; }

  section .form-block {
    padding: 20px 0px; }
    section .form-block div {
      overflow: hidden;
      text-overflow: ellipsis;
      width: 100%; }
  section .img-block {
    padding: 20px 20px 15px; }

  .banner-content-left {
    margin-bottom: 20px; }
    .banner-content-left p {
      padding: 0px 0px 0px 0px; }

  .banner-content-right {
    margin-bottom: 30px; }
    .banner-content-right .order-1 {
      -ms-flex-order: 2 !important;
      order: 2 !important; }
    .banner-content-right .order-2 {
      -ms-flex-order: 1 !important;
      order: 1 !important; }
    .banner-content-right h2 {
      padding: 20px 0px 0px 10px; }
    .banner-content-right p {
      padding: 0px 0px 0px 10px; }

  .tile-block .tile {
    padding-bottom: 10px; }
    .tile-block .tile .tile-body {
      margin-bottom: 30px; }

  footer .footer-content {
    padding: 40px 0px 0px;
    width: 100%; }
    footer .footer-content h2 {
      margin-bottom: 0px; }
    footer .footer-content .mailbox {
      width: 70%;
      margin-top: 20px; } }

/*# sourceMappingURL=style.css.map */
